.title{
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
.tileTitle{
  color: rgb(0,90,165);
}
.titleText{
    color: rgb(0,90,165);
}

.App {
  text-align: center;
}


.container, .container-fluid {
  margin-top: 20px;
}

.check{
  border: solid lightgrey;
}

.mainText{
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
.menuButton{
  width: 600px;
}
.mainBody{
  padding: 10px;
}
.grid{
padding: 20px;

}
.tiles{
  background-color: rgba(255,255,255, 0.7);
  margin: 10px;
  padding: 50px;
}
@keyframes noTransparency {
0%   {background-color:rgba(255,255,255,0.7);}
100% {background-color:rgba(255,255,255,1); }
}

.tiles2{
  background-color: rgba(255,255,255, 0.7);
  margin: 10px;
  width: 220px;
  height: 180px;
  border-radius: 5px;
}
.tiles2:hover{
  animation-name: noTransparency;
  animation-duration:0.5s;
  animation-fill-mode: both;
}
.xxx{
  flex: 1;
  flex-wrap: wrap;
  flex-basis: 10%;
  flexDirection: 'row';
  alignItems: 'center';
  justifyContent: 'center';
}
.smallText{
  font-size: 10pt;
  font-weight: bold;
  margin: 10px;
  color: rgb(0,147,187);
}

.rt-thead {
  font-weight: bold;
}

.ReactTable{
  background-color: rgba(255,255,255,0.95);
}